@import variables.sass

body
  font-family: "Roboto", sans-serif
  color: $white-color

a
  text-decoration: none

h1,
h2,
  text-transform: uppercase

ul
  list-style-type: none

.order-call__btn,
.promo__btn
  color: $white-color
  font-size: 14px
  padding: 16px 20px
  text-transform: uppercase
  background: linear-gradient(0deg, $accent-blue-color 0%, #4ce2ff 100%)
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12)
  border: none
  border-radius: 4px
  &:hover
    background-image: none
    background-color: $accent-blue-color

.title
  text-align: center
  color: #222222
  font-size: 38px
  line-height: 1.26
  font-weight: 700
  text-transform: uppercase

.label
  margin: 0 auto 30px auto
  color: $white-color
  background-color: #212121
  padding: 8px
  max-width: min-content
  text-align: center
  font-size: 11px
  line-height: 1
  font-weight: 400
  text-transform: uppercase

// header

.header
  position: relative
  &__nav
    background-color: #212121
    top: 0
    width: 100%
  &__sub
    background-color: rgba(0, 0, 0, 0.6)
    position: absolute
    width: 100%

.menu
  display: flex
  justify-content: space-between
  margin: 0
  padding: 13px 70px
  list-style-type: none
  &__item
    border-right: 2px dotted black
    padding-right: 27px
  &__link
    font-weight: 300
    font-size: 15px
    color: $white-color

.logo
  margin-top: 16px
  margin-bottom: 16px
  &__link
    max-width: 100%
    display: flex
    align-items: center
    column-gap: 7px
  &__name
    margin-top: 2px
    font-family: Nokia-Sans, sans-serif
    text-transform: uppercase
    font-size: 25px
    color: $white-color
  &__official
    font-weight: 400
    font-size: 13px
    opacity: 0.5

.phone
  text-align: right
  margin-top: auto
  margin-bottom: auto
  &__text
    font-weight: 300
    font-size: 12px
  &__link
    font-weight: 400
    font-size: 22px
    color: $white-color

.order-call
  margin-top: auto
  margin-bottom: auto

// promo

.promo
  min-height: 800px
  background: url("../img/promo/bg.jpg") center center/cover no-repeat
  padding: 150px 0 135px 0
  &__header
    font-weight: 700
    font-size: 60px
    line-height: 100%
    text-align: center
    margin: 0
  &__subheader
    font-weight: 900
    font-size: 36px
    line-height: 100%
    text-align: center
    margin: 0
    margin-top: 22px
  &__descr
    font-weight: 400
    font-size: 18px
    line-height: 133%
    text-align: center
    color: $white-color
    margin-top: 23px
  &__btn
    display: block
    margin: 118px auto 0 auto

// advantages

.advantages
  padding: 48px 0 51px 0
  &__list
    display: flex
    flex-wrap: wrap

.advantage
  display: flex
  align-items: center
  column-gap: 25px
  padding: 13px 35px
  &__img
    background-color: $accent-blue-color
    min-width: 116px
    height: 116px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
  &__name
    color: #1eacc7
    font-size: 17px
    line-height: 1.23
    font-weight: 400
  &__info
    color: #202020
    font-size: 17px
    line-height: 1.23
    font-weight: 400

// mobile

.mobile
  padding: 48px 0 80px 0
  min-height: 864px
  background: url("../img/mobile/bg.jpg") center center/cover no-repeat
  &__subtitle
    color: #222222
    text-align: center
    font-size: 17px
    line-height: 1.23
    font-weight: 400
    margin-bottom: 30px
  &__item
    position: relative
    width: 320px
    height: 280px
    margin: 0 auto 19px auto
    padding: 90px 12px 34px 12px
    &-1
      background: url("../img/mobile/card_1.jpg") center center/cover no-repeat
    &-2
      background: url("../img/mobile/card_2.jpg") center center/cover no-repeat
    &-3
      background: url("../img/mobile/card_3.jpg") center center/cover no-repeat
    &-4
      background: url("../img/mobile/card_4.jpg") center center/cover no-repeat
    &-5
      background: url("../img/mobile/card_5.jpg") center center/cover no-repeat
    &-6
      background: url("../img/mobile/card_6.jpg") center center/cover no-repeat
    &-subtitle
      color: $white-color
      text-align: center
      font-size: 24px
      line-height: 1.29
      font-weight: 400
      text-transform: uppercase
    &-plus
      display: flex
      justify-content: center
      align-items: center
      padding: 6px
      position: absolute
      bottom: 34px
      left: 50%
      transform: translateX(-50%)
      background-color: #000000
      border-radius: 50%
      width: 29px
      height: 29px
      cursor: pointer
      &::before
        content: ''
        display: block
        width: 14px
        height: 2px
        background-color: $accent-blue-color
        transition: background-color .2s linear
      &::after
        content: ''
        display: block
        position: absolute
        left: 50%
        transform: translateX(-50%)
        width: 2px
        height: 14px
        background-color: $accent-blue-color
        transition: background-color .2s linear
      &:hover
        &::before, &::after
          background-color: $accent-red-color

// car

.car
  position: relative
  &__black-part
    padding-top: 59px
    min-height: 502px
    background-color: #070716
  .label
    color: #070716
    background-color: $white-color
    margin-bottom: 27px
  .title
    color: $white-color
  &__subtitle
    color: $white-color
    text-align: center
    font-size: 17px
    line-height: 1.23
    font-weight: 400
  &__img-title
    color: $white-color
    font-size: 42px
    font-weight: 400
    position: absolute
    top: 255px
    left: 50%
    transform: translateX(-50%)
    z-index: 2
  &__img-subtitle
    color: #070716
    font-size: 22px
    font-weight: 400
    position: absolute
    top: 310px
    left: 50%
    transform: translateX(-50%)
    z-index: 2
  &__img
    position: absolute
    top: 234px
    left: 50%
    transform: translateX(-50%)
  &__white-part
    background: url("../img/car/bg.jpg") center center/cover no-repeat
    min-height: 397px
  &__text
    position: absolute
    color: #222222
    font-size: 17px
    line-height: 1.4
    font-weight: 300
    bottom: 137px
    left: 50%
    transform: translateX(-50%)

//require

.require
  padding: 68px 0 90px 0
  &__block
    margin: 33px 0
  &__title
    color: #1CA8C3
    font-size: 22px
    line-height: 1.09
    font-weight: 400
  &__list
    margin-top: 22px
    padding-left: 50px
  &__item
    position: relative
    color: #222222
    font-size: 17px
    line-height: 1.41
    font-weight: 300
    margin-bottom: 6px
    &::before
      content: ""
      display: block
      position: absolute
      left: -32px
      top: 1px
      width: 21px
      height: 20px
      background: url("../icons/require/mark_blue.png") center (center/cover) no-repeat
  &__descr
    color: #1CA8C3
    font-size: 17px
    line-height: 1.41
    font-weight: 300
  .warning
    .require__title
      color: $accent-red-color
    .require__item::before
      background: url("../icons/require/mark_red.png") center (center/cover) no-repeat
